@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
   
}

/*portfolio image size*/
img{
    width: 100%;
    display: block;
}

h3, p{
    margin: 15px 0;
}
body{
    line-height: 1.6;
}









/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;  
    padding: 30px 0;
    background: #151515;
    font-family: 'Roboto', serif;
    transition: all 0.3s ease;
}



.navbar.sticky{
    padding: 15px 0;
    background: #151515;
}


.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}



.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}



.navbar.sticky .logo a span{
    color: #fff;
    
}


.navbar .menu li{
    list-style: none;
    display: inline-block;
}




.navbar .menu li a{    
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}



.navbar .menu li a:hover{
    color: crimson;
}


.navbar.sticky .menu li a:hover{
    color: #fff;
}



/* menu btn styling */
.menu-btn{
    color: #FFFFFF;
    font-size: 23px;
    cursor: pointer;
    display: none;
}








/* all similar content styling code */

section{
	padding: 100px 0;
}


section .title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'Roboto', serif;
}



section .title::before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 240px;
	height: 3px;
	background: #111;
	transform: translateX(-50%);
}



section .title::after{
	
	position: absolute;
	bottom: -12px;
	left: 50%;
	font-size: 20px;
	color: crimson;
	padding: 5px;
	background: #fff;
	transform: translateX(-50%);
}








/* Footer styling */

footer{
    background: #151515;
    padding: 15px 23px;
    color: #fff;
    text-align: left;

}








/* responsive media query start */


@media (max-width: 1300px) {
	
	.gallery{
        grid-template-columns: repeat(3, 1fr);
    }

	
}


@media (max-width: 1104px) {

	
}


@media (max-width: 991px) {
 .max-width{
        padding: 0 50px;
    }
	
}



@media (max-width: 947px) {
    
	
	.menu-btn{
    
    display: block;
	z-index: 999;
	
}
	
	 .menu-btn i.active:before{
        content: "\f00d";
    }
	
	.navbar .menu{
		position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
		top: 0;
		background: #111;
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
		
		
	}
	
  .navbar .menu.active{
        left: 0;
    }
	
	.navbar .menu li{
        display: block;
    }
	 .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
	

	
    .max-width{
    max-width: 800px;  
}
		

	
	
}






/**************** gallery.html ***************/

/* section three */
.section-three{
    margin: 40px 0;
}
.single-img{
    position: relative;
    margin: 10px;
    
}
.single-img-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 5px 30px;
    background: rgba(0, 0, 0, 0.7);
}
.single-img-content h3{
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}




.single-img1{
    position: relative;
    margin: 10px;
   background-size: 200px X 200px (repeat);
    
}











@media (max-width: 690px) {
 

	

}


@media (max-width: 500px) {
 
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }

	
}



    
	
/**/ 



@media screen and (min-width: 678px){
    
   
}

@media screen and (min-width: 800px){
   
    

    /* section three */
    .gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}
   
    


@media screen and (min-width: 992px){
    
    

     
}


@media screen and (min-width: 1000px){
   

   
}

@media screen and (min-width: 1200px){
  

    /* section three */
    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1400px){
    
}

/*************** extra small sized screen ******************/

@media screen and (max-width: 500px){
    /* overall styling */
    

    h3{
        font-size: 20px!important;
    }
    p{
        font-size: 15px;
    }
    .btn{
        font-size: 14px;
        padding: 8px 0;
    }
    .work-imgs{
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
}

	

















