
/* Font link */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Poppins&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



/* Overall Webpage CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/* Smooth scroll on html page */

html{
scroll-behavior: smooth;

}



/* Maximum Webpage size */

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}



/* Portfolio image size */
img{
    width: 100%;
    display: block;
}

/* Heading 3 and p margin size */

h3, p{
    margin: 15px 0;
}


h6{
display: none;

}

body{
    line-height: 1.6;
}



/* Navigation bar (navbar)  - Styling - the navbar postion is fixed with a high value z-index and a transition */

.navbar{
    position: fixed;
    width: 100%;
	z-index: 999;
     padding: 30px 0;
    font-family: 'Roboto', sans-serif;
	transition: all 0.3s ease;
    
}



/* Navigation bar (navbar)  - Sticky - the navbar is positioned sticky  */

.navbar.sticky{
    padding: 15px 0;
    background: #151515;
}



/* Navigation bar (navbar)  - Display - the element on the navbar is centered and have space in-between them   */

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* Navigation bar (navbar)  - Logo - Image size and postion on Nav bar   */

.navbar-log img{
    height: 3rem;
    margin-left: -45px;
    }



/* Navigation bar (navbar)  - Position -  The navbar elements ul are positioned right  */   

.navbar ul{
    float: right;

}



/* Navigation bar (navbar)  - Position -  The navbar menu is positioned is horizontally using display: inline-block  */   

.navbar .menu li{
    list-style: none;
    display: inline-block;
}



/* Navigation bar (navbar)  - Menu -  The navbar menu styling  */

.navbar .menu li a{    
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
	transition: color 0.3s ease;
}



/* Navigation bar (navbar)  - Menu -  There is hover when cursor on the menu  */

.navbar .menu li a:hover{
    color: crimson;
}



/* Navigation bar (navbar)  - Menu -  There is hover even when navbar is positioned sticky  */

.navbar.sticky .menu li a:hover{
    color: #fff;
}



/* Navigation bar (navbar)  - Menu Button - Menu Button Styling    */

.menu-btn{
    color: #FFFFFF;
    font-size: 23px;
    cursor: pointer;
    display: none;
}





/* Home Section -  Styling  - Home's font, font colour, backround image, height size and attachment   */

.home{
display: flex;
background: url("images/lightspeed1.jpg") no-repeat center;	
height: 100vh;
color: #FFFFFF;
min-height: 500px;	
background-size: cover;
background-attachment: fixed;	
font-family: 'Adamina', serif;
font-family: 'Poppins', sans-serif;
	
}



/* Home Section -  Display - Home's display type and width  */

.home .max-width{
  width: 100%;
  display: flex;
}



/* Home Section -  Text - Home's text size, margin and colour */

.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}







/* All Section class - Headings 2 - padding  */

section{
	padding: 75px 0;
}



/* All Section class - Headings 2 - h2 (title) with font-family, font-size, font-weight, text centered, margin and bottom */

section .title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'Adamina', serif;
    font-family: 'Poppins', sans-serif;
}



/* All Section class - White space - White space under the underline   */

section .title::before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 240px;
	height: 3px;
	background: #111;
	transform: translateX(-50%);
}



/* All Section class - Underline - Text (content) between the underline (if there are any)  */

section .title::after{
	content: "";
	position: absolute;
	bottom: -12px;
	left: 50%;
	font-size: 20px;
	color: crimson;
	padding: 5px;
	background: #fff;
	transform: translateX(-50%);
}






/* About Section, Service Section and Footer Section - Text - Text's font-family */

.about, .services, footer{
    font-family: 'Adamina', serif;
    font-family: 'Poppins', sans-serif;
}



/* About Section - Underline - Text (content) between the underline */

.about .title::after{
    content: "Who I am";

}



/* About Section with about-content and Service Section with serv-content  - display, flex-wrap, centered items and space between content */

.about .about-content, .services .serv-content{
    display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}




/* About Section - Text (p) - Text width */

.about .about-content .center{
width: 55%;
}



/* About Section - Text (p) - Text's font size, weight and margin */

.about .about-content .center{
font-size: 25px;
font-weight: 600;
margin-bottom: 10px;	

}



/* About Section - Text span (Animation) - Text's colour  */

.about .about-content .center .text span{
color: crimson;
}






/* Services Section - Styling - colour and background  */

.services{
    color: #fff;
    background: #1d1d1d;     
    }



/* Services Section - White Space - background's color  */

.services .title::before{
        background: #fff;
    }



/* Services Section - Underline - background's color and text (content)  */

.services .title::after{
    background: #1d1d1d;
    content: "what i provide";
}



/* Services Section - Card - Card's Setup  */

.services .serv-content .card{
    width: calc(33% - 20px);
    background: #fff;
    color: #111;
    text-align: center;
    border-radius: 6px;
    padding: 35px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}



/* Services Section - Card - Card hover when cursor is on on card  */

.services .serv-content .card:hover{
    width: calc(33% - 20px);
    background: #111;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 35px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}



/* Services Section - Card - Card hover colour  */

.services .serv-content .card:hover{
    background: #111;
}


/* Services Section - Card & Box - Card & Box's transition speed  */

.services .serv-content .card .box{
    transition: all 0.3s ease;
}



/* Services Section - Card & Box hover - Card & Box's transform scale  */

.services .serv-content .card:hover .box{
    transform: scale(1.05);
}



/* Services Section - Card's icons - Card's icon font size, colour and transition  */

.services .serv-content .card i{
    font-size: 50px;
    color: #111;
    transition: color 0.3s ease;
}



/* Services Section - Card's icons hover - Card's icon colour change when cursor hover on card  */

.services .serv-content .card:hover i{
    color: #fff;
}



/* Services Section - Card's text - Card's text font-size, weight and margin */

.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}





/* Social Section - Styling - Social icons width(space) between them, margin and padding   */

.social-icons{
    width: 350px;
    margin: 40px auto 0 auto;
    padding-bottom: 30px;
}



/* Social Section - Social icons a - Social icons a (links) setup  */

.social-icons a{
    color: #111;
    font-size: 30px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Social Section - Social icons - Display: flex (horizontal) and space around   */

.social-icons {
    display: flex;
    justify-content: space-around;
}



/* Social Section - Social icons i - colour   */

.social-icons i{
    color: #000000;
}



/* Social Section - Social icons a:hover - when cursor hover, background border becomes black, shadow with transition  */

.social-icons a:hover{
background:  #000000;
box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
transition: all ease 0.5s;

}



/* Social Section - Social icons a:hover i - when cursor hover, icons becomes white with transition  */

.social-icons a:hover i{

color: #FFFFFF;
transition: all ease 0.5s;
}






/* Portfolio Section - Styling - Margin space between each photo  */

.section-three{
    margin: 40px 0;
}



/* Portfolio Section - Image - Image Setup */

.single-img{
    position: relative;
    margin: 10px;
}



/* Portfolio Section - Heading border - Heading border Setup */

.single-img-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 5px 30px;
    background: rgba(0, 0, 0, 0.7);
}


/* Portfolio Section - Heading - Heading's font, size, weight and all text are uppercase  */

.single-img-content h3{
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}






/* Contact Section - Form - width and margin */

form{

    width: 70%;
    margin: 0 auto;
    }
    
    

/* Contact Section - Form label - text size */
    
    form label{
    font-size: 1.5rem;
    }
    
    

/* Contact Section - Input & Textarea - Input & Textarea Setup  */

    input, textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border-color: black;
    border-style: double;
    }
    
    

/* Contact Section - Submit Button - Submit Button Setup  */    
    
    input[type="submit"]{
    width: initial;
    background-color: #000000;
    color: white;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
    }
    
    
/* Contact Section - Submit Button Hover - Submit Button Hover Setup  */ 
    
    input[type="submit"]:hover{
    color: black;
    background-color: azure;
    
    }


/* Footer styling */

footer{
    background: #151515;
    padding: 15px 23px;
    color: #fff;
    text-align: left;

}






/* Responsive Media Query - 1200px */


@media (max-width: 1200px) {
	.home .max-width{
		margin-left: 0px;
}		
}





/* Responsive Media Query - 991px */

@media (max-width: 991px) {
 .max-width{
        padding: 0 50px;
}	
}



/* Responsive Media Query - 947px */

@media (max-width: 947px) {	
	.menu-btn{
    display: block;
	z-index: 999;	
}
	
	 .menu-btn i.active:before{
        content: "\f00d";
    }
	
	.navbar .menu{
		position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
		top: 0;
		background: #111;
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;		
	}
	
  .navbar .menu.active{
        left: 0;
    }
	
	.navbar .menu li{
        display: block;
    }
	 .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
	
	.home .home-content .text-2{
    font-size: 70px;
    
}
    .home .home-content .text-3{
    font-size: 35px;
   
}
	
    .max-width{
    max-width: 800px;  
}
		
	.about .about-content .column{
	 width: 50px;
	}

	.about .about-content .center{
	 flex: 100%;
	}
	
	
	.services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
	
	
}





/* Responsive Media Query - 690px */

@media (max-width: 690px) {
 
	.max-width{
        padding: 0 23px;
    }
	
	.home .home-content .text-2{
    font-size: 60px;
    
}
    .home .home-content .text-3{
    font-size: 32px;
   
}
	
.services .serv-content .card{
    width: 100%

}
}


/* Responsive Media Query - 500px */

@media (max-width: 500px) {	
	.home .home-content .text-2{
    font-size: 50px;
    
}
    .home .home-content .text-3{
    font-size: 27px;  
}
}


/* Responsive Media Query - 375px */

@media (max-width: 375px) {

.services .serv-content .card{
    width: 75%;  
}
}




/* Responsive Media Query - Portfolio Media - Size  */

@media screen and (min-width: 800px){ 
	
.gallery{
    display: grid;
     grid-template-columns: repeat(2, 1fr);
}		
}


	
/* Responsive Media Query - Portfolio Media - Size  */

@media screen and (min-width: 1200px){ 

.gallery{
    grid-template-columns: repeat(3, 1fr);
}
}


